<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot - POST-GET AJAX Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
  <body>

    <!-- Fixed Upper navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Teddy Lynx Page</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">BooKeep</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container-fluid">

        </div>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">

            <div class="row featurette" th:each="book : ${books}">
                <div class="col-md-7 col-md-push-5">

                <h2 class="featurette-heading" th:text="${{book.title}}">  </h2>
                  Author: <p th:text="${{book.author}}">Author</p><br/>
                Pages: <p th:text="${{book.pageNumber}}"> Pages</p><br/>
                Started reading: <p th:text="${{book.startDate}}"> Started</p><br/>
                Finished reading: <p th:text="${{book.finishDate}}"> Finished</p><br/>
                </div>
                <div class="col-md-5 col-md-pull-7">
                 <!--   <img class="featurette-image img-responsive center-block" src=""> -->
                </div>
            </div>
             <!-- <hr class="featurette-divider">-->
    	</div>
	</div>

	<footer class="footer">
    	<div class="container">
        	<p class="text-mutted"> Page created by Michał Jagiellicz. &copy;2017 </p>
      	</div>
	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="{% static 'Bookeep/js/bootstrap.min.js' %}"></script> -->
   </body>
 </html>